@font-face {
    font-family: 'Brandon Grotesque';
    src: url('/fonts/BrandonGrotesque-Bold.eot') format('embedded-opentype');
    font-weight: bold;
    font-style: bold;
    font-display: swap;
}
@font-face {
    font-family: 'Brandon Grotesque';
    src: url('/fonts/BrandonGrotesque-Light.woff') format('woff'),
        url('/fonts/BrandonGrotesque-Light.ttf') format('truetype'),
        url('/fonts/BrandonGrotesque-Light.svg#BrandonGrotesque-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* url('/fonts/BrandonGrotesque-Bold.woff') format('woff'),
url('/fonts/BrandonGrotesque-Bold.ttf') format('truetype'),
url('/fonts/BrandonGrotesque-Bold.svg#BrandonGrotesque-Bold') format('svg'); */