@font-face {
    font-family: 'Brandon Grotesque';
    src: url('BrandonGrotesque-Bold.eot') format('embedded-opentype'),
         url('BrandonGrotesque-Bold.woff') format('woff'),
         url('BrandonGrotesque-Bold.ttf') format('truetype'),
         url('BrandonGrotesque-Bold.svg#BrandonGrotesque-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Brandon Grotesque';
    src: url('BrandonGrotesque-Light.eot') format('embedded-opentype'),
        url('BrandonGrotesque-Light.woff') format('woff'),
        url('BrandonGrotesque-Light.ttf') format('truetype'),
        url('BrandonGrotesque-Light.svg#BrandonGrotesque-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}